body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* navbar-section */

.navbar-section{

    .navbar-logo{
        height:30px;
        width:130px;

    }
    .navbar-button{
        height:40px;
        width:100px;
    }
}

/* hero-section */

.hero-section{
    background-color:#f5fcff;
    padding:100px 0;
    .hero-texts{
        width:100%;
        margin-top:100px;
        h1{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size:57px;
        }
        .headingText-color{
            color:#5d3aed;
        }
        p{
            width:70%;
            font-size:18px;
        }
        .btn-color{
           background-color: #5e3bee;
           color:white;
           font-size:15px;
           padding:13px 30px;
        }
        
    }
    .img img{
       width:100%;
       height:500px;    
    }
    
}

/* exparties-section */

.exparties-section{
    padding:100px 0;
    .exparties{
        background-color:#f5fcff;
        border-radius:18px;
        padding:20px 0;
    }
    .texts{
        margin-left:10px;
        padding:10px;
        h2{
            font-size:20px;
            font-weight: bold;
        }
        p{
            margin-top:15px;
            font-size:14px;
            width:85%;
        }
    }
    img{
        height:50px;
        width:50px;
        margin-top:10px;
        margin-left:10px;
    }

    /* for adding border-bottom on first exparties */
    .exparties-one{
        background-color:#f5fcff;
        border-radius:18px;
        border-bottom:2px solid #5e3bee;
        padding:20px 0;
    }
    .texts{
        margin-left:10px;
        padding:10px;
        h2{
            font-size:20px;
            font-weight: bold;
        }
        p{
            margin-top:15px;
            font-size:14px;
            width:85%;
        }
    }
    img{
        height:60px;
        width:60px;
        margin-top:10px;
        margin-left:10px;
    }
}

/* About me Section */
.About-me{
    padding:100px 0;
    .img img{
        width:100%;
        height:auto;    
     }
     .aboutMe-texts{
        width:90%;
        margin-top:200px;
     }
}

/* portfolio section */
.portfolio-section{
    padding:100px 0;
    .portfolio-heading{
        button{
            padding:15px 20px;
            border-radius:12px;
            border:none;
            outline:none;
            background-color:#E62872;
            color:white;
            font-size:18px;
            img{
                width:20px;
                height:20px;
            }
        }
    }
    .portfolio{
        width:100%;
        margin-bottom:20px;
        button{
            border:none;
            outline:none;
            padding-bottom:10px;
            background-color:white;
            border-bottom:1px solid black;
        }
    }
    
}

 /* Testimonials-section */
 .testimonials{
    background-color:#f5fcff;
    padding:100px 0;
    .testimonial{
        border:1px solid #006B6A;
        border-radius:14px;
        padding:20px;
    }
    .testimonial-content{
        img{
            width:30%;

        }
        .testimonial-image{
            img{
                width:50px;
                height:50px;
            }
            h6{
                font-size:15px;
                line-height: 1px;
            }
        }
    }
 }

  /* contact-form */
.contact-form{
    padding:100px 0;
    form{
        width:60%;
        margin:0 auto;
    }
    select{
        padding:10px 20px;
    }
    button{
        background-color:#5E3BEE;
        color:white;
        padding:12px 27px;
    }
}

footer{
    background-color:#f5fcff;
    padding:50px 0;

    /* social link styling */
    .social-link{
       font-size:20px;
    }
    
    /* copyright area */
    .copyright{
        display:flex;
        justify-content: space-between;
        .policies ul li{
            display:inline;
            margin-left:20px;
           list-style-type: none;
        }
    }
    
}

/* Create Responsive layout using media screen */



/* hero section */
@media (min-width: 992px){
    .hero-section{
        .text-lg-left{
            text-align:left !important;
        }
    } 
}

/* For Exparties-heading */
@media (min-width: 992px){
    .exparties-section{
        .text-lg-left{
            text-align:left !important;
        }
        
    } 
}


/* For About me section */
@media (min-width: 992px){
    .aboutMe-texts{
        .text-lg-left{
            text-align:left !important;
        }
        
    } 
}

/* Portfolio-section */
@media (min-width: 992px) {
    .portfolio-section{
        .text-lg-left{
            text-align:left !important;
        }
    }
    
}

 /* Testimonials-section */
@media (min-width: 992px) {
    .testimonials{
        .text-lg-left{
            text-align:left !important;
        }
    }
    
}




